body {
    margin: 0;
    overflow: hidden;
}

canvas {
    width: 100%;
    height: 100%;
}

.status {
    position: absolute;
    display: block;
    top: 5px;
    left: 5px;
    z-index: 100;
}

.control {
    position: absolute;
    display: block;
    bottom: 5px;
    left: 5px;
    z-index: 100;
}

.result {
    position: absolute;
    display: block;
    top: 10px;
    text-align: center;
    width: 100%;
    z-index: 100;
    font-size: 48px;
}

.instructions {
    position: absolute;
    display: block;
    right: 5px;
    bottom: 5px;
    z-index: 100;
}

p {
    margin: 5px;
    line-height: 25px;
    vertical-align: middle;
}

.row {
    margin: 5px;
}

label {
    color: #333333 !important;
}

.preloader-wrapper {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#success {
    color: #00c853;
}

#failure {
    color: #f44336;
}
