body {
    margin: 0;
    overflow: hidden;
}

canvas {
    width: 100%;
    height: 100%;
}

#info {
    position: absolute;
    top: 10px;
    width: 100%;
    text-align: center;
    z-index: 100;
    display: block;
}
