body {
    margin: 0;
    overflow: hidden;
}

canvas {
    width: 100%;
    height: 100%;
}

.status {
    position: absolute;
    display: block;
    top: 5px;
    left: 5px;
    z-index: 100;
}

p {
    margin: 10px;
}
